:root {
	--RaisinBlack: #272932;
	--LightSteelBlue: #B6C2D9;
	--SteelBlue: #4D7EA8;
	--lblack: #141414;
}

body {
	background-color: var(--lblack);
}

* {
	padding: 0px;
	margin: 0px;
}

.column {
	margin: 2.5% 20% 2.5% 20%;
	border-radius: 25px 25px 25px 25px;
	background-image: url("C:/Users/ACER/OneDrive/Desktop/PSB Academy/CC/Coursework 2/bg-image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5% 0 5% 0;
}

img {
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
}

h2 {
	color: white;
	font-family: cursive;
	text-align: center;
	font-size: 25px;
}

h1 {
	color: white;
	font-family: cursive;
	font-size: 15px;
	text-align: center;
	padding-top: 60px;
} 

input[type="text"] {
	background: white;
	color: var(--SteelBlue);
	width: 150px;
	height: 20px;
	padding: 0 25px;
	border-radius: 25px 25px 25px 25px;
	font-weight: bold;
}

input[type="submit"] {
	position: center;
	width: 200px;
	height: 30px;
	border-radius: 10px 10px 10px 10px;
	cursor:  pointer;
	background: white;
	color: var(--SteelBlue);
	font-weight: bold;
}

input[type="submit"]:hover {
	background: var(--SteelBlue);
	color: white;
}
