:root{
			--white: #faf0e6;
			--LightBlack: #141414; 
			--LightSteelBlue: #B6C2D9;
			--SteelBlue: #4D7EA8;
			--LightBlue: #0db8de;
		}
		
		body{
			background: var(--LightBlack);
		}
		
		.container {
		  margin: 130px auto;
		  background: #fff;
		  padding: 0;
		  border-radius: 7px;
		}
		
		h1{
			font-size: 50px;
			color: var(--white);
			font-family: 'Courier New';
			font-style: italic;
		}
		
		.table{
			font-size: 35px;
			color: var(--LightBlue);
			font-family: 'Courier New';
			border: 2px solid var(--LightBlue);
			border-radius: 50px 20px;
		}

		a{
			color: var(--white);
			text-decoration: none;
			background: var(--white);
		}

		a:hover{
			color: var(--LightSteelBlue);
			cursor: pointer;
			text-decoration: none;
		}
